<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.salesforce">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnnatiWorkForce"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.example.salesforce.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreenSplash" />
        <activity
            android:name="com.example.salesforce.SplaceScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreenSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--
        <activity
            android:name=".Demo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreenSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->


        <activity android:name="com.example.salesforce.MainActivity" />

        <activity
            android:name="com.example.salesforce.ChangePassword"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.example.salesforce.ForgotPassword"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>